<?xml version="1.0"?>
<configuration>
  <appSettings>
<!-- THE NEXT 9 ELEMENTS CHANGE WITH ENVIRONMENT (Expand Web.config in Solution Explorer to edit Config Tranform files) -->
    <add key="TestRunEnvironment" value="LOCAL"/>
    <add key="hubURL" value="localhost:4444"/>
    <add key="NoReplyEmailAddress" value="PutNoReplyEmailAddressHere@Domain.com" />
    <add key="TestResultScreenshotPath" value="C:\Development\Crystal Test\Projects\CTWebsite\Admin\UploadedTestResultScreenshots\" />
    <add key="TestEngineOutputPath" value="C:\Development\Crystal Test\Projects\AutomationTestEngine\bin\x86\Local\AutomationTestEngineOutput.txt"/>
    <add key="QAANetworkDomain" value="" />
    <add key="QAANetworkServiceUserName" value="PutQAANetworkServiceUserNameHere" />
    <add key="QAANetworkServiceUserPassword" value="PutQAANetworkServiceUserPasswordHere" />
  </appSettings>
    <!-- THIS ELEMENT CHANGES WITH ENVIRONMENT (Expand Web.config in Solution Explorer to edit Config Tranform files) -->
    <connectionStrings>
    <add name="QAAConnectionString" connectionString="Data Source=JAGATHK\SQLEXPRESS;Initial Catalog=CTLocalDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <!-- THIS ELEMENT CHANGES WITH ENVIRONMENT (Expand Web.config in Solution Explorer to edit Config Tranform files) -->
    <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Crystal Test\CrystalTestEmail"/>
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
