<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="TestRunEnvironment" value="STAGE" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
        <add key="hubURL" value="PutIPAddressOfHubServerHere:4444" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
        <add key="NoReplyEmailAddress" value="PutNoReplyEmailAddressHere@Domain.com" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
        <add key="TestResultScreenshotPath" value="C:\PutPathToUploadedTestResultScreenShotsHere" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
        <add key="TestEngineOutputPath" value="C:\Development\Crystal Test STAGE\Projects\AutomationTestEngine\bin\Stage\AutomationTestEngineOutput.txt" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
        <add key="QAANetworkDomain" value="IfQAANetworkServiceUserLoginRequiresDomainPrefixPutItHere" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
        <add key="QAANetworkServiceUserName" value="PutQAANetworkServiceUserNameHere" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
        <add key="QAANetworkServiceUserPassword" value="PutQAANetworkServiceUserPasswordHere" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />

    </appSettings>
    <connectionStrings>
        <add name="QAAConnectionString" connectionString="Data Source=PutTheNameOfTheSQLServerHere;Initial Catalog=CTStageDB;user id=PutYourCreatedDatabaseUserNameHere; password=PutTheUsersPasswordHere" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
    </connectionStrings>
    <system.net>
        <mailSettings xdt:Transform="Replace">
            <smtp from="PutYourNoReplyEmailAddressHere">
                <network host="PutTheEmailServerIpAddressHere" port="25"/>
            </smtp>
        </mailSettings>
    </system.net>
</configuration>    
   