<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="TestRunEnvironment" value="PROD" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
      <add key="hubURL" value="localhost:2222" />
      <add key="TestCaseScreenshotPath" value="D:\Web-Codenix\Projects\CTWebsite\Admin\UploadedTestCaseScreenshots\" />
      <add key="TestResultScreenshotPath" value="D:\Web-Codenix\Projects\CTWebsite\Admin\UploadedTestResultScreenshots\" />
      <add key="NoReplyEmailAddress" value="jkodumagulla987@gmail.com" />
      <add key="QAANetworkDomain" value="" />
      <add key="QAANetworkServiceUserName" value="jagathpraveen.k@jarustech.com" />
      <add key="QAANetworkServiceUserPassword" value="KJPkjp@007" />
    </appSettings>
    <connectionStrings>
      <!-- THIS ELEMENT CHANGES WITH ENVIRONMENT (Expand Web.config in Solution Explorer to edit Config Tranform files) -->
      <add name="QAAConnectionString" connectionString="Data Source=JAGATHK\SQLEXPRESS;Initial Catalog=CTLocalDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <authentication mode="Windows" xdt:Transform="Replace" />
        <authorization xdt:Transform="Replace" >
            <allow users="*" />
        </authorization>
    </system.web>
    <system.net>
        <mailSettings xdt:Transform="Replace">
            <smtp from="PutYourNoReplyEmailAddressHere@Domain.com">
                <network host="PutTheEmailServerIpAddressHere" port="25" userName="PutUserNameHere" password="PutPasswordHere"/>
            </smtp>
        </mailSettings>
    </system.net>
</configuration>